.landing {
    position: relative;
    width: 100vw;
    height: auto;
    z-index: -999;
}

#background-video {
    overflow: hidden;
    clear: both;
    position: relative; 
    left: 0;
    bottom: 0;
    max-width: 100vw;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}