.analytics__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5%;
    font-size: 110% !important;
}

.analytics__row__line {
    width: 100%;
    height: 2px;
    background-color: var(--darkGrey);
}

.analytics__row__bull__amount {
    color: var(--green);
}