.summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;    
}

.summary__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary__left__header {
    font-size: 140%;
    font-weight: 700;
    margin-bottom: 1%;
}

.summary__left__sub {
    font-size: 80%;
    font-weight: 500;
    font-style: italic;
}

.summary__right {
    font-size: 120%;
    font-weight: 700;
}

.trades-row {
    width: 100%;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    background-color: #1e6091;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.trades-row__bearbull {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    width: 20%;
    margin-left: 5%;
}

.selector-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-bottom: 2px solid #7e7e7e;
}

@media only screen and (max-width: 1024px) {
    .summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;    
    }
    
    .summary__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .summary__left__header {
        font-size: 0.4em;
        font-weight: 700;
        margin-bottom: 1%;
    }
    
    .summary__left__sub {
        font-size: 0.3em;
        font-weight: 500;
        font-style: italic;
    }
    
    .summary__right {
        font-size: 0.6em;
        font-weight: 700;
    }
    
    .select input {
        font-size: 10px;
    }

    .select {
        font-size: 5px !important;
    }

    .trades-row {
        width: 100%;
        margin-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        align-items: center;
        background-color: #1e6091;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }
    
    .trades-row__bearbull {
        display: flex;
        flex-direction: row;
        align-items: center;
        float: left;
        width: 20%;
        margin-left: 5%;
    }
    
    .selector-row {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        border-bottom: 2px solid #7e7e7e;
    }
}