.gaming {
    position: relative;
}

.gaming__content {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 1.6vw;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.gaming__content__inner {
    display: flex;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.gaming__content__inner__image {
    width: 25vw;
    height: auto;
    object-fit: contain;
}

.gaming__content__inner__rows {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    font-style: normal;
}