@media only screen and (min-width: 1024px) {
  .betaSignup__button {
    width: 200px;
    height: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-color: aqua;
    border-width: 2px;
    border-radius: 25px;
    border-style: solid;
    color: white;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.3;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-left: 20px;
}

.betaSignup__button:hover {
    opacity: 1;
}

  .Desktop--Main--form__container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column !important;
  }
  
  .Desktop--Main--form__button {
    height: 45px !important;
    width: 200px !important;
    margin: 0 0 0 0 !important;
  }
  
  .Desktop--Main--form__input {
    position: relative !important;
    height: 45px !important;
    width: 350px !important;
    padding-left: 10px !important;
    border-width: 0px !important;
    margin: 0 10px 0 0 !important;
    margin-right: 20px !important;
  }
  
  .Desktop--Header--logo__image {
    width: 220px !important;
    padding: 10px !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
  }
  
  .Desktop--Main--mockup__image {
    position: relative;
    margin-top: -50px;
    width: 250px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    transition: transform 0.45s;
    transform: perspective(1400px) rotateY( -20deg) rotateX( 10deg) rotateZ( 6deg) scale(0.8) translateY(6%);
  }
  
  .Desktop--Main--mockup__image:hover {
    transform: perspective(1000px) rotateY( 0deg) rotateX( 0deg) rotateZ( 0deg) scale(0.95) translateY(8%);
  }
  
  .Desktop--Main--mockup__image {
    position: relative;
    max-width: 100%;
    height: auto;
  }
  
  .Desktop--Main--form__container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .Desktop--Main--form__button {
    margin-top: 10px;
    height: 45px;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    background-color: #52b69a !important;
  }
  
  .Desktop--Main--form__input {
    height: 45px !important;
    width: 300px !important;
    margin: auto;
    padding-left: 10px;
    border-width: 0px;
    margin-bottom: 10px;
  }
  
  .Desktop--Main--form__postsubmit {
    font-size: 16px;
    color: white;
    padding-top: 10px;
  }
  
  .Desktop--Main--result__container {
    box-shadow: inset 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 20px;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .Desktop--Main--result__column {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Desktop--Main--result__title {
    font-size: 18px;
    text-align: center;
  }
  
  .Desktop--Main--result__text {
    font-size: 11px;
    text-align: center;
    font-style: italic;
  }
  
  .Desktop--Main--result__count {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .Desktop--Main--result__link__always {
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .Desktop--Main--result__link {
    font-size: 12px;
    font-style: italic;
    cursor: pointer;
  }
  
  .Desktop--Main--result__link:hover {
    text-decoration: underline;
  }
  
  .Desktop--Main--result__tickets {
    font-size: 16px;
    font-style: italic;
  }

  .input-field {
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
  }
  label {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
  }
  input {
    width: 300px;
    height: 36px;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
  }
  input:invalid {
    outline: 0;
    color: aqua;
    border-color: aqua;
  }
  input:focus,
  input:valid {
    border-color: aqua;
  }
  input:focus~label,
  input:valid~label {
    font-size: 18px;
    top: -26px;
    color: aqua;
  }

  .input {
    position:relative;
    font-size: 1em;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
    *:not(span) {
      position: relative;
      display: inherit;
      border-radius: inherit;
      margin: 0;
      border: none;
      outline: none;
      padding: 0 .325em;
      z-index: 1; // needs to be above the :focus span
      
      // summon fancy shadow styles when focussed
      &:focus + span {
        opacity: 1;
        transform: scale(1);
      }
    }
    
    // we don't animate box-shadow directly as that can't be done on the GPU, only animate opacity and transform for high performance animations.
    span {
      
      transform: scale(.993, .94); // scale it down just a little bit
      transition: transform .5s, opacity .25s;
      opacity: 0; // is hidden by default
      
      position:absolute;
      z-index: 0; // needs to be below the field (would block input otherwise)
      margin:4px; // a bit bigger than .input padding, this prevents background color pixels shining through
      left:0;
      top:0;
      right:0;
      bottom:0;
      border-radius: inherit;
      pointer-events: none; // this allows the user to click through this element, as the shadow is rather wide it might overlap with other fields and we don't want to block those.
      
      // fancy shadow styles
      box-shadow: inset 0 0 0 3px #fff,
        0 0 0 4px #fff,
        3px -3px 30px #1beabd, 
        -3px 3px 30px #10abff;
    }
    
  }
}

@media only screen and (max-width: 1024px) {
  .betaSignup__button {
    width: 75vw;
    height: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-color: aqua;
    border-width: 2px;
    border-radius: 25px;
    border-style: solid;
    color: white;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.3;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-left:0px;
    margin-top: 2vh;
}

.betaSignup__button:hover {
    opacity: 1;
}

  .Desktop--Main--form__container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column !important;
  }
  
  .Desktop--Main--form__button {
    height: 45px !important;
    width: 300px !important;
    margin: 0 0 0 0 !important;
  }
  
  .Desktop--Main--form__input {
    position: relative !important;
    height: 45px !important;
    width: 350px !important;
    padding-left: 10px !important;
    border-width: 0px !important;
    margin: 0 10px 0 0 !important;
    margin-right: 20px !important;
  }
  
  .Desktop--Header--logo__image {
    width: 220px !important;
    padding: 10px !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
  }
  
  .Desktop--Main--mockup__image {
    position: relative;
    margin-top: -50px;
    width: 250px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    transition: transform 0.45s;
    transform: perspective(1400px) rotateY( -20deg) rotateX( 10deg) rotateZ( 6deg) scale(0.8) translateY(6%);
  }
  
  .Desktop--Main--mockup__image:hover {
    transform: perspective(1000px) rotateY( 0deg) rotateX( 0deg) rotateZ( 0deg) scale(0.95) translateY(8%);
  }
  
  .Desktop--Main--mockup__image {
    position: relative;
    max-width: 100%;
    height: auto;
  }
  
  .Desktop--Main--form__container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .Desktop--Main--form__button {
    margin-top: 10px;
    height: 45px;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    background-color: #52b69a !important;
  }
  
  .Desktop--Main--form__input {
    height: 45px !important;
    width: 300px !important;
    margin: auto;
    padding-left: 10px;
    border-width: 0px;
    margin-bottom: 10px;
  }
  
  .Desktop--Main--form__postsubmit {
    font-size: 16px;
    color: white;
    padding-top: 10px;
  }
  
  .Desktop--Main--result__container {
    box-shadow: inset 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 20px;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .Desktop--Main--result__column {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Desktop--Main--result__title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .Desktop--Main--result__text {
    font-size: 12px;
    text-align: center;
    font-style: italic;
  }
  
  .Desktop--Main--result__count {
    font-size: 40px;
  }
  
  .Desktop--Main--result__link__always {
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .Desktop--Main--result__link {
    font-size: 12px;
    font-style: italic;
    cursor: pointer;
  }
  
  .Desktop--Main--result__link:hover {
    text-decoration: underline;
  }
  
  .Desktop--Main--result__tickets {
    font-size: 16px;
    font-style: italic;
  }

  .input-field {
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
  }
  label {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
  }
  input {
    width: 75vw;
    height: 36px;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
  }
  input:invalid {
    outline: 0;
    color: aqua;
    border-color: aqua;
  }
  input:focus,
  input:valid {
    border-color: aqua;
  }
  input:focus~label,
  input:valid~label {
    font-size: 32px;
    top: -26px;
    color: aqua;
  }

  .input {
    position:relative;
    font-size: 3em;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
    *:not(span) {
      position: relative;
      display: inherit;
      border-radius: inherit;
      margin: 0;
      border: none;
      outline: none;
      padding: 0 .325em;
      z-index: 1; // needs to be above the :focus span
      
      // summon fancy shadow styles when focussed
      &:focus + span {
        opacity: 1;
        transform: scale(1);
      }
    }
    
    // we don't animate box-shadow directly as that can't be done on the GPU, only animate opacity and transform for high performance animations.
    span {
      
      transform: scale(.993, .94); // scale it down just a little bit
      transition: transform .5s, opacity .25s;
      opacity: 0; // is hidden by default
      
      position:absolute;
      z-index: 0; // needs to be below the field (would block input otherwise)
      margin:4px; // a bit bigger than .input padding, this prevents background color pixels shining through
      left:0;
      top:0;
      right:0;
      bottom:0;
      border-radius: inherit;
      pointer-events: none; // this allows the user to click through this element, as the shadow is rather wide it might overlap with other fields and we don't want to block those.
      
      // fancy shadow styles
      box-shadow: inset 0 0 0 3px #fff,
        0 0 0 4px #fff,
        3px -3px 30px #1beabd, 
        -3px 3px 30px #10abff;
    }
    
  }
}