:root {
    --teal-color: #51b69a;
    --lightTeal-color: #96fee2;
    --darkTeal: #549885;
    --yellow: #fcec20;
    --orange: #f7931e;
    --grey: #e6e6e6;
    --darkGrey: #7e7e7e;
    --lightBlack: #5d5d5d;
    --white: #fff;
    --darkWhite: #f3f3f3;
    --red: #E33F64;
    --green: #36b26f;
    --richBlack: #051923;
    --darkBlue: #1e6091;
    --lightBlue: #4aabad;
    --darkPurple: #662D91;
    --lightPurple: #D4145A;
    --search: #9596a8;
    --liquidPurple: #4d1168;
    --linkBlue: #147EFB;
    --slackDarkBlue: #1264a3;
    --slackLightBlue: #e2eff4;
    --lightRed: #FF9696;
    --venmoBlue: #3191c7
}


.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--liquidPurple);
    color: white;
    padding-top: 7vh;
    padding-bottom: 5vh;
    padding-left: 17.5vw;
    padding-right: 12.5vw;
}

.footer__row {
    display: flex;
    flex-direction: row;
    width: 65vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.footer__line {
    width: 99vw;
    margin-left: -5vw;
    height: 2px;
    background-color: var(--teal-color);
}

.footer__section {
    width: 32.5vw;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
    padding-left: 5vw;
}

.footer__section__header {
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--teal-color);
    margin-bottom: 0.5vh;
}

.footer__section__inner__text {
    font-size: 0.9vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;   
    font-weight: 500;
    color: grey;
}

.footer__section__inner__link-container {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;   
}

.footer__section__inner__link {
    font-size: 0.9vw;
    font-weight: 500;
    color: white;
    transition: all 0.3s ease;
}

.footer__section__inner__link:hover {
    text-decoration: none;
    color: var(--teal-color);
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    padding-left: 5vw;
}

.footer__copyright__text {
    margin-top: 1vh;
    font-size: 0.9vw;
    font-weight: 500;
}

.footer__copyright__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer__copyright__row__legal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.footer__copyright__row__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.footer__copyright__row__socials__outer {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    width: 2vw;
    height: 2vw;
    border-radius: 3vw;
    background-color: var(--teal-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer__copyright__row__socials__outer:hover {
    background-color: var(--lightTeal-color);
}

.footer__copyright__row__social__inner {
    width: 1.5vw;
    height: 1.5vw;
}

.footer__copyright__row__legal__link {
    color: white;
    font-size: 0.9vw;
    font-weight: 500;
    transition: all 0.3s ease;
}

.footer__copyright__row__legal__link:hover {
    color: var(--teal-color);
    text-decoration: none;
}

.footer__copyright__row__legal__spacer {
    margin-left: 1vw;
    margin-right: 1vw;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 2vw;
        padding-right: 2vw;
    }       
    
    .footer__row {
        display: flex;
        flex-direction: row;
        width: 80vw;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }

    .footer__line {
        width: 99vw;
        margin-left: -5vw;
        height: 2px;
        background-color: var(--teal-color);
    }
    
    .footer__section {
        width: 47.5vw;
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start;
        padding-left: 5vw;
    }
    
    .footer__section__header {
        font-size: 1.2em;
        font-weight: 600;
        color: var(--teal-color);
        margin-bottom: 0.5vh;
    }
    
    .footer__section__inner__text {
        font-size: 0.8em; 
        font-weight: 500;
        color: grey;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .footer__section__inner__link-container {
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;   
    }
    
    .footer__section__inner__link {
        font-size: 0.8em;
        font-weight: 500;
        color: white;
        transition: all 0.3s ease;
    }
    
    .footer__section__inner__link:hover {
        text-decoration: none;
        color: var(--teal-color);
    }
    
    .footer__copyright {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: center;
        padding-left: 5vw;
        width: 47.5vw;
    }
    
    .footer__copyright__text {
        margin-top: 1vh;
        font-size: 0.35em;
        font-weight: 500;
    }
    
    .footer__copyright__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    .footer__copyright__row__legal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    
    .footer__copyright__row__socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    
    .footer__copyright__row__socials__outer {
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        width: 5vw;
        height: 5vw;
        border-radius: 3vw;
        background-color: var(--teal-color);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    .footer__copyright__row__socials__outer:hover {
        background-color: var(--lightTeal-color);
    }
    
    .footer__copyright__row__social__inner {
        width: 3.5vw;
        height: 3.5vw;
    }
    
    .footer__copyright__row__legal__link {
        color: white;
        font-size: 0.35em;
        font-weight: 500;
        transition: all 0.3s ease;
    }
    
    .footer__copyright__row__legal__link:hover {
        color: var(--teal-color);
        text-decoration: none;
    }
    
    .footer__copyright__row__legal__spacer {
        margin-left: 1vw;
        margin-right: 1vw;
    }
}


