
.side-norm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 4vh;
}

.side-norm__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 37vw;
    margin-right: 5vw;
}

.side-norm__content__header {
    font-size: 2.6vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
}

.side-norm__right {
    width: 30vw;
    height: auto;
    object-fit: contain;
}