.stores {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
  }
  
  .store-btn {
    cursor: pointer;
    transition: all 0.3s ease;
    zoom: 0.9;
  }
  
  .store-btn:hover {
    opacity: 0.7;
  }