:root {
    --teal-color: "#51b69a";
    --lightTeal-color: "#96fee2";
    --darkTeal: "#549885";
    --yellow: "#fcec20";
    --orange: "#f7931e";
    --grey: "#e6e6e6";
    --darkGrey: "#7e7e7e";
    --lightBlack: "#5d5d5d";
    --white: "#fff";
    --darkWhite: "#f3f3f3";
    --red: "#E33F64";
    --green: "#36b26f";
    --richBlack: "#051923";
    --darkBlue: "#1e6091";
    --lightBlue: "#4aabad";
    --darkPurple: "#662D91";
    --lightPurple: "#D4145A";
    --search: "#9596a8";
    --liquidPurple: "#4d1168";
    --linkBlue: '#147EFB';
    --slackDarkBlue: '#1264a3';
    --slackLightBlue: '#e2eff4';
    --lightRed: '#FF9696';
    --venmoBlue: '#3191c7'
}

.LandingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FeatureIcon--background {
    /* background-color: black; */
    height: 500px;
}

.html {
    scroll-behavior: smooth;
}

.hello {
    color: black;
    font-size: 32px;
}
