.Desktop--SideBySide--container {
    padding-top: 50px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}

.Desktop--SideBySide--wrapper {
    display: flex;
    justify-content: center;
    width: 85vw;
}

.Desktop--SideBySide--text {
    max-width: 500px;
}

.Desktop--SideBySide--text__header {
    line-height: normal;
    font-size: 50px;
    font-weight: bold;
    margin-left: -3px;
}
.Desktop--SideBySide--text__main {
    font-size: 24px;
    padding-top: 30px;
}

.Desktop--SideBySide--spacer {
    width: 200px;
}

.Desktop--SideBySide--spacer__flipped {
    width: 325px;
}

.Desktop--SideBySide--image__container {
    width: 500px;
}

.Desktop--SideBySide--image__container--flipped {
    width: 375px;
    height: 375px;
}