.privacy-page {
    align-self: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
}

.privacy-page__title {
    color: #52b69a;
    font-size: 48px;
}

p {
    text-align: justify;
    font-size: 14px;
}

li {
    font-size: 24px;
    text-align: left;
    padding-top: 40px;
}

/*Add white/grey shade background?*/