.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__idea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__idea__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    margin-right: 5vw;
}

.about__idea__content__header {
    font-size: 2.6vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
}