.referral__splash {
    position: relative;
    background: linear-gradient(5deg, rgba(15,95,95,1) 0%, rgba(9,39,57,1) 50%);
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.referral__disclaimer {
    position: absolute;
    bottom: 3vh;
    left: 0;
    color: white;
    font-size: 0.5em;
    font-weight: 500;
    font-style: italic;
    margin-left: 15vw;
    margin-right: 10vw;
}

.referral__splash__left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90vw;
    margin-right: 10vw;
    color: white;
}

.referral__splash__left__header {
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
}

.referral__splash__left__subheader {
    font-size: 2.2rem;
    font-weight: 600;
    color: #51b69a;
}

.referral__splash__left__text {
    font-size: 1.3vw;
    font-weight: 500;
    font-style: italic;
    color: white;
    width: 85vw;
}

.referral__splash__right {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}