.analytics {
    width: 100vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.analytics__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10vw;
}

.analytics__phone {
    zoom: 0.6;
}

.analytics__container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.analytics__container__header {
    line-height: normal;
    font-size: 3vw;
    font-weight: bold;
    cursor: pointer;
    color: var(--darkBlue);
    transition: all 0.3s ease-in-out;
    margin-bottom: 1vh;
}

.analytics__container__header:hover {
    color: var(--teal-color);
    text-decoration: none;
}

.analytics__container__available {
    margin-top: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    float: left;
    align-items: center;
    color: white;
    background-color: var(--darkBlue);
    border-radius: 50px;
    width: auto;
    font-size: 1.6vw;
    font-weight: 500;
    transition: all 0.3s ease;
}

.analytics__container__available:hover {
    color: var(--teal-color);
    text-decoration: none;
}

.analytics__container__row {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.analytics__container__demo {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 5vh;
    background-color: var(--teal-color);
    display: inline-block;
    color: white;
    font-size: 1.6vw;
    font-weight: 500;
    border-radius: 50px;
}

.analytics__container__row__live {
    width: '100%';
    margin-top: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8vw;
    font-weight: 500;
    border-radius: 50px;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

.analytics__container__row__live__dot {
    -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
    background-color: white;
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 0.8vw;
    margin-right: 0.3vw;
}

.analytics__container__row__live__clock {
    margin-left: 0.3vw;
}

.analytics__container__row__closed {
    width: '100%';
    margin-top: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: var(--darkGrey);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8vw;
    font-weight: 500;
    border-radius: 50px;
}

.analytics__container__text {
    font-size: 1.6vw;
    font-weight: 500;
    margin-top: 2vh;
    font-style: italic;
}