.App {
  text-align: center;
}

.Main{
  background-image: url(./assets/background.jpg);
  height: 1000px;
}

.Container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.Main--text {
  margin-right: 150px;
  display: inline-block;
  padding-top: 175px;
  padding-left: 50px;
  width: 550px;
}

.Main--text__title{
  font-size: 56px;
  color:white;
  font-weight: bold;

}

.Main--text__subtitle {
  font-size: 18px;
  color:white;
}

.Header--logo__image {
  width: 200px;
  padding: 25px;
}

.Main--mockup__image {
  width: 350px;
  display: inline-block;
}

.Main--header {
  height: 100px;
  align-items: left;
  font-size: 36px;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: bold;
}


