.FeatureIconDisplay--wrapper {
    background-color: black;
    height: 500px;
    display: flex;
    justify-content: center;
}


.FeatureIconBlock--wrapper {
    height: 275px;
    width: 300px;
    margin: 100px 50px 50px 50px;
    text-align: center;
    padding: 15px;
    transition: all 0.3s ease 0s; 
}

.FeatureIconBlock--wrapper:hover {
    transform: translateY(-3px);
    /* box-shadow:#28A745 0px 5px 0px; */
    box-shadow: 0 0.313rem 0.875rem rgb(255 255 255  / 30%);
}

.FeatureIconBlock--wrapper:hover::after {
    opacity: 1;
}

.FeatureIconBlock--wrapper::after {
  transition: all 0.3s ease;
  top: 100%;
  left: 48px;
  border: solid transparent;
  content: " ";
  height: 1px;
  width: 300px;
  position: absolute;
  pointer-events: none;
  background-color: #28A745;
  opacity: 0;
  margin-left: -48px;
}
.FeatureIconBlock--icon {
    width: 65px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.FeatureIconBlock--text__header {
    color: white;
    font-size: 24px;
    font-weight: 500;
}


.FeatureIconBlock--text__subtitle {
    color: #6c737d;
    font-size: 16px;
    width: 275px;
}
