.SideBySide--container {
    height: 600px;
    padding-top: 100px;
    background-color: #f6f6f6;
}

.SideBySide--wrapper {
    display: flex;
    justify-content: center;
}

.SideBySide--text {
    max-width: 500px;

}
.SideBySide--text__header {
    line-height: normal;
    font-size: 50px;
    font-weight: bold;
    margin-left: -3px;
}
.SideBySide--text__main {
    font-size: 24px;
    padding-top: 30px;
}

.SideBySide--spacer {
    width: 200px;
}

.SideBySide--spacer__flipped {
    width: 325px;
}

.SideBySide--image__container {
    width: 500px;
}

.SideBySide--image__container--flipped {
    width: 375px;
    height: 375px;
}