.SideBySide--container {
    height: 600px;
    padding-top: 150px;
}

.SideBySide--wrapper {
    display: flex;
    justify-content: center;
}

.SideBySide--text {
    max-width: 350px;

}
.SideBySide--text__header {
    line-height: normal;
    font-size: 48px;
    font-weight: bold;
    margin-left: -3px;
}
.SideBySide--text__main {
    font-size: 20px;
    padding-top: 30px;
}

.SideBySide--spacer {
    width: 200px;
}

.SideBySide--image__container {
    width: 300px;
}